<section class="about container">
  <img src="https://live.staticflickr.com/65535/50992057781_d928278848_b.jpg" alt="me">
<p>
I am a pasionate self-taught Full Stack Developer, radicated in San Jose Costa Rica and with a huge willingness to help others and stay happy!
</p>
</section>