<section class="contact container text-center">
<h1>Contact Me On</h1>
  <i class="fab fa-github-square fa-3x"></i>
  <i class="fab fa-linkedin fa-3x"></i>
  <i class="fab fa-twitter-square fa-3x"></i>
  <i class="fas fa-mail-bulk fa-3x"></i>
</section>