<section class="main container text-center">
  <h1>Portfolio</h1>
  <img src="https://live.staticflickr.com/65535/50992070192_08e456d51f_b.jpg" alt="Screen Shot">
</section>
<section class="grid container-fluid">
  <div class="row text-center">
    <div class="col-sm-3">
      <h3>IC Main</h3>
      <img src="https://live.staticflickr.com/65535/50992070137_5ba2cba475_b.jpg"alt="Screen Shot">
    </div>
    <div class="col-sm-3">
      <h3>IC Contact</h3>
      <img src="https://live.staticflickr.com/65535/50991255823_35d5d65925_b.jpg" alt="Screen Shot">
    </div>
    <div class="col-sm-3">
      <h3>Bass Albums</h3>
      <img src="https://live.staticflickr.com/65535/50991950311_f4f9b7c027_b.jpg" alt="Screen Shot">
    </div>
    <div class="col-sm-3">
      <h3>Bass Home</h3>
      <img src="https://live.staticflickr.com/65535/50991950416_28209d3d9b_b.jpg" alt="Screen Shot">
    </div>
  </div>
</section>