
<section class="main container text-center pt-5">
  <p>Hello, I am Fabian Conejo and I am a Full Stack developer from San Jose Costa Rica.</p>
  <%= link_to 'View My Work', portfolio_path, :class => 'btn btn-secondary' %>
  
</section>