.navbar {
  position: fixed;
  width: 100%; 
}

.main img {
  margin-bottom: 15%;
  width: 100%;
}

.grid img {
  width: 100%;
  height: 90%;
}

.grid {
  margin-bottom: 15%;
}

h1 {
  margin-bottom: 10%;
  padding-top: 14%;
}

footer {
  width: 100%;
}

i {
  margin-left: 2.5%;
  margin-right: 2.5%;
}